<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Orders</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>New Orders</h1>
    <form action="/orders" method="post">
        Enter restaurant Name :
        <input type="text" name="restaurant" placeholder="Enter Restaurant's Name">
        <br><br>
        Enter item you want to order :
        <input type="text" name="item" placeholder="Enter Item Name">
        <br><br>
        Enter Quantity you want : 
        <input type="text" name="qty"  placeholder="Enter The Amount Of Item">
        <br><br>
        <button>Submit</button>
    </form>
</body>
</html>